@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

header {
  width: 100%;
  background: #fff;
  position: relative;
  z-index: 0;
}

footer {
  z-index: 0;
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #d6d6d6;
  z-index: -2;
  background-image: url(./img/ACC.png);
  background-position: 30% top;
  background-repeat: no-repeat;
  background-size: contain;
}

.navBar {
  padding: 10px 20px;
  display: flex;
  background-color: aqua;
  width: 100%;
  position: relative;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  font-family: "Fjalla One", sans-serif;
  color: #222;
}

.navBar__logo img {
  height: 60px;
}

.navBar .navBar__links {
  position: absolute;
  height: 60px;
  right: 20%;
  width: 35%;
  min-width: 500px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

.navBar__link {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 4px 8px;
  transition: all 0.1s;
  cursor: pointer;
}

.navBar__link:hover,
.navBar__link--active {
  color: #fff;
  background: #000;
  font-weight: 700;
}

.col {
  display: flex;
  height: 100%;
  width: 100%;
  /* padding: 20px 40px; */
  position: relative;
}

.col__left {
  flex-basis: 50%;
  /* border: 1px red solid; */
  position: relative;
  height: 100%;
}

/* stories */
.col .col__left .artist-image {
  z-index: 0;
  width: 450px;
  height: 450px;
  margin: 0px;
  position: relative;
}

.col .col__left .artist-image img {
  border-radius: 50%;
  width: 420px;
  transform: translate(88px, 127px) scale(0.78);
  /* border: 1px solid red; */
}

.col .col__left .artist-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 610px;
  height: 150%;
  background: url(/img/avicci\ effect.jpg) no-repeat center center / contain;
  z-index: -2;
  /* border: 1px solid black; */
}

.play-texts {
  position: absolute;
  bottom: 220px;
  left: 90px;
}

.play-text {
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 900;
  line-height: 45px;
  -webkit-text-stroke: 2px #222;
  letter-spacing: 1px;
  color: transparent;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 50%, #ffdd00 34%);
  -webkit-background-clip: text;
  background-clip: text;
}

.dots-1 {
  position: absolute;
  content: "";
  top: 380px;
  left: 315px;
  width: 80px;
  transform: rotate(90deg);
}

.dots-2 {
  position: absolute;
  content: "";
  width: 180px;
  top: 120px;
  right: 200px;
  transform: rotate(90deg);
}

.dots-3 {
  position: absolute;
  content: "";
  width: 180px;
  top: 420px;
  left: 500px;
}

.col .col__right {
  flex-basis: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  text-align: center;
  /* border: 1px solid red; */
  height: fit-content;
  margin-right: 100px;
}

.col__right--subtitle {
  justify-content: center;
  font-size: 35px;
  font-weight: 800;
  margin-top: 90px;
}

.col__right--title {
  justify-content: center;
  text-transform: uppercase;
  font-size: 95px;
  font-weight: 800;
  height: 100%;
  -webkit-text-stroke: 3px #222;
  letter-spacing: 1px;
  color: transparent;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 20%, #ffdd00 74%);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 0;
  margin: 0;
}

.col__right--para {
  font-weight: 500;
  font-size: 18px;
  margin-top: 30px;
}

.col__right--btn {
  display: block;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 20%, #ffdd00 34%);
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 50px;
  border: 2.5px solid #000;
  color: #222;
  text-transform: uppercase;
  font-weight: 800;
  font-weight: 10px;
  box-shadow: 0px 8px 10px rgba(255, 201, 25, 0.541);
  margin-top: 30px;
  transition: all 0.3s;
  width: 200px;
  align-self: center;
}

.col__right--btn:hover {
  transform: translateY(2px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.socialIcons {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcons .socialIcon {
  text-decoration: none;
  width: 55px;
  height: 55px;
  margin: 0px 8px;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 20%, #ffdd00 74%);
  color: rgb(15, 0, 0);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  transition: all 0.3s;
}

.socialIcon:hover {
  background: black;
  transform: translateY(-2px);
  box-shadow: 2px 2px 4px rgba(255, 201, 25, 1);
  color: #ffc919;
}

.play-musics {
  position: absolute;
  /* bottom: -20%; */
  /* right: 5%; */
  right: 4%;
  bottom: 0%;
  z-index: 1;
}

.play-music {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 900;
  line-height: 35px;
  -webkit-text-stroke: 2px #fbb034;
  color: #fff;
  letter-spacing: 1px;

  /* color: transparent; */
}

.shape-1 {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 350px;
  height: 350px;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 20%, #ffdd00 74%);
  border-radius: 50%;
  border: 15px solid #333;
  z-index: 1;
  transform: translate(-50%, 60%);
  overflow: hidden;
}

.shape-2 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 70px;
  height: 70px;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 20%, #ffdd00 74%);
  border: 6px solid #222;
  border-radius: 50%;
}

.shape-3 {
  position: absolute;
  bottom: 25px;
  right: 15px;
  width: 70px;
  height: 70px;
  background-color: #fbb034;
  background-image: linear-gradient(
    315deg,
    #242322 -10%,
    #fbb034 54%,
    #ffdd00 99%
  );
  border: 6px solid #222;
  border-radius: 50%;
  z-index: 1;
}

.shape-4 {
  position: absolute;
  right: -47px;
  top: 200px;
  width: 120px;
  height: 120px;
  color: transparent;
  border: 8px solid #fbb034;
  border-radius: 50%;
}

.shape-5 {
  position: absolute;
  right: 420px;
  top: 140px;
  width: 60px;
  height: 40px;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 20%, #ffdd00 74%);
  /* background-color: #fbb034; */
  /* background-image: linear-gradient(315deg, #fbb034 50%, #ffdd00 24%); */
}

.shape-6 {
  position: absolute;
  right: -10px;
  top: 240px;
  width: 60px;
  height: 40px;
  background-color: #222;
  background-image: linear-gradient(315deg, #e9c708 20%, #616158 74%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.shape-7 {
  position: absolute;
  left: 50%;
  top: 25%;
  height: 25px;
}

.shape-8 {
  position: absolute;
  right: -2%;
  bottom: -60px;
  width: 470px;
  height: 470px;
  background-color: #fbb034;
  background-image: linear-gradient(
    315deg,
    #242322 30%,
    #ffdd00 74%,
    #fbb034 90%
  );
  transform: rotate(20deg);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  z-index: -1;
}
